[cosmosdb]
endpoint = "<YOUR_COSMOSDB_ENDPOINT>"
key = "<YOUR_COSMOSDB_KEY>"
database = "<YOUR_DATABASE_NAME>"
container = "<YOUR_CONTAINER_NAME>"

[openai]
AZURE_OPENAI_API_KEY = "<YOUR_AZURE_OPENAI_API_KEY>"
AZURE_OPENAI_ENDPOINT = "<YOUR_AZURE_OPENAI_ENDPOINT>"
AZURE_OPENAI_API_VERSION = "<YOUR_AZURE_OPENAI_API_VERSION>"
AZURE_OPENAI_DEPLOYMENT_NAME = "<YOUR_AZURE_OPENAI_DEPLOYMENT_NAME>"
